* {
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  color: $content;
  @include fontFamily($SansProReg);
}

.container {
  max-width: $desktop;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

a {
  text-decoration: none;
  color: #4b4b4b;
}

button {
  outline: none;
  border: none;
}